{% if dst_shard_is_master is true %} 
return {
	override_enabled = true,
    worldgen_preset = "{{ dst_world_preset }}", -- “RELAXED", "ENDLESS", "SURVIVAL_TOGETHER”, "WILDERNESS", or "LIGHTS_OUT" 
    settings_preset = "{{ dst_world_preset }}",
	overrides = {
        {% if dst_world_gen_touchstone is defined %}
            touchstone="{{ dst_world_gen_touchstone }}",
        {% endif %}
	}
}
{% else %}
return {
    override_enabled = true,
    preset = "DST_CAVE",
}
{% endif %}
